---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ .Chart.Name }}
  name: {{ .Chart.Name }}
data:
  DATABASE_SUPPORT: "DISABLED"
  OPENAI_API_KEY: "{{ .Values.openApiKey }}"
  CHAT_BOT_MODEL_ID: "{{ .Values.chatbotModelId }}"
  KEYCLOAK_WEB_CLIENT_ID: "forms-flow-web"