---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: "{{ .Chart.Name }}"
  name: "{{ .Chart.Name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ .Chart.Name }}"
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: "{{ .Chart.Name }}"
    spec:
      containers:
      - name: filebeat-data-analysis
        image: docker.elastic.co/beats/filebeat:7.14.0
        env:
          - name: ELASTIC_SERVER
            valueFrom:
              configMapKeyRef:
                key: ELASTIC_SERVER
                name: "{{ .Values.formsflow.configmap }}"
        volumeMounts:
        - name: data-analysis-logs
          mountPath: /forms-flow-data-analysis/app/logs
        - mountPath: /usr/share/filebeat/filebeat.yml
          subPath: filebeat.yml
          name: data-analysis-filebeat
      - env:
        # - name: DATABASE_URL
        #   valueFrom:
        #     configMapKeyRef:
        #       key: DATABASE_URL
        #       name: "{{ .Chart.Name }}"

        - name: OPENAI_API_KEY
          valueFrom:
            configMapKeyRef:
              key: OPENAI_API_KEY
              name: "{{ .Chart.Name }}"
        - name: CHAT_BOT_MODEL_ID
          valueFrom:
            configMapKeyRef:
              key: CHAT_BOT_MODEL_ID
              name: "{{ .Chart.Name }}"

        - name: KEYCLOAK_URL
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_URL
              name: "{{ .Values.formsflow.configmap }}"

        - name: KEYCLOAK_URL_REALM
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_URL_REALM
              name: "{{ .Values.formsflow.configmap }}"
        
        - name: KEYCLOAK_WEB_CLIENT_ID
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_WEB_CLIENT_ID
              name: "{{ .Chart.Name }}" 

        - name: DATA_ANALYSIS_API_BASE_URL
          valueFrom:
            configMapKeyRef:
              key: DATA_ANALYSIS_URL
              name: "{{ .Values.formsflow.configmap }}"
        - name: JWT_OIDC_ALGORITHMS
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_JWT_OIDC_ALGORITHMS
              name: "{{ .Values.formsflow.configmap }}"
        - name: JWT_OIDC_AUDIENCE
          valueFrom:
            secretKeyRef:
              key: ADMIN_WEB_CLIENTID
              name: "{{ .Values.formsflow.secret }}"
        - name: JWT_OIDC_CACHING_ENABLED
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_JWT_OIDC_CACHING_ENABLED
              name: "{{ .Values.formsflow.configmap }}"
        - name: JWT_OIDC_ISSUER
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_JWT_OIDC_ISSUER
              name: "{{ .Values.formsflow.configmap }}"
        - name: JWT_OIDC_JWKS_CACHE_TIMEOUT
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_JWT_OIDC_JWKS_CACHE_TIMEOUT
              name: "{{ .Values.formsflow.configmap }}"
        - name: JWT_OIDC_JWKS_URI
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_JWT_OIDC_JWKS_URI
              name: "{{ .Values.formsflow.configmap }}"
        - name: JWT_OIDC_WELL_KNOWN_CONFIG
          valueFrom:
            configMapKeyRef:
              key: KEYCLOAK_JWT_OIDC_CONFIG
              name: "{{ .Values.formsflow.configmap }}"
        - name: DATABASE_SUPPORT
          valueFrom:
            configMapKeyRef:
              key: DATABASE_SUPPORT
              name: "{{ .Chart.Name }}"
        - name: MODEL_ID
          valueFrom:
            configMapKeyRef:
              key: MODEL_ID
              name: "{{ .Values.formsflow.configmap }}"

        image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        name: "{{ .Chart.Name }}"
        imagePullPolicy: Always
        ports:
        - containerPort: {{ .Values.ingress.port }}
        resources:
          limits:
            cpu: "{{ .Values.resources.limits.cpu }}"
            memory: "{{ .Values.resources.limits.memory }}"
          requests:
            cpu: "{{ .Values.resources.requests.cpu }}"
            memory: "{{ .Values.resources.requests.memory }}"
        stdin: true
        tty: true
        volumeMounts:
        - name: data-analysis-logs
          mountPath: /forms-flow-data-analysis/app/logs
      restartPolicy: Always
      imagePullSecrets:
      - name: "{{ .Values.formsflow.auth }}"
      volumes:
      - name: data-analysis-logs
      - name: data-analysis-filebeat
        configMap:
          name: "{{ .Chart.Name }}-fb-config"
