apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ .Chart.Name }}
  name: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
      {{- if .Values.elastic_search.enabled }} 
      - name: filebeat-forms
        image: docker.elastic.co/beats/filebeat:7.14.0
        env:
          - name: ELASTIC_SERVER
            valueFrom:
              configMapKeyRef:
                key: ELASTIC_SERVER
                name: "{{ .Values.formsflow.configmap }}"
        volumeMounts:
        - name: forms-logs
          mountPath: /app/logs
        - mountPath: /usr/share/filebeat/filebeat.yml
          subPath: filebeat.yml
          name: forms-filebeat
      {{- end}}
      - env:
        - name: NODE_CONFIG
          valueFrom:
            configMapKeyRef:
              key: NODE_CONFIG
              name: "{{ .Values.formsflow.configmap }}"
        {{- if .Values.ExternalAuth.ExistingMailAuthKey }}
        - name: ROOT_EMAIL
          valueFrom:
            secretKeyRef:
              key: {{ .Values.ExternalAuth.ExistingMailAuthKey }}
              name: "{{ .Values.ExternalAuth.ExistingSecretName }}"
        {{- end }}
        {{- if not .Values.ExternalAuth.ExistingMailAuthKey }}
        - name: ROOT_EMAIL
          valueFrom:
            secretKeyRef:
              key: FORMIO_ROOT_EMAIL
              name: "{{ .Values.formsflow.secret }}"
        {{- end }}
        {{- if .Values.ExternalAuth.ExistingPwdAuthKey }}
        - name: ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              key: {{ .Values.ExternalAuth.ExistingPwdAuthKey }}
              name: "{{ .Values.ExternalAuth.ExistingSecretName }}"
        {{- end }}
        {{- if not .Values.externalAuth.existingPwdAuthKey }}
        - name: ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              key: FORMIO_ROOT_PASSWORD
              name: "{{ .Values.formsflow.secret }}"
        {{- end }}
        - name: FORMIO_JWT_SECRET
          valueFrom:
            secretKeyRef:
              key: FORMIO_JWT_SECRET
              name: "{{ .Values.formsflow.secret }}"
        - name: FORMIO_DOMAIN
          valueFrom:
            configMapKeyRef:
              key: FORMIO_DOMAIN
              name: "{{ .Values.formsflow.configmap }}"
        - name: MULTI_TENANCY_ENABLED
          valueFrom:
            configMapKeyRef:
              key: MULTI_TENANCY_ENABLED
              name: "{{ .Values.formsflow.configmap }}"
        image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: Always
        livenessProbe:
          failureThreshold: 10
          initialDelaySeconds: 120
          periodSeconds: 60
          successThreshold: 1
          tcpSocket:
            port: 3001
          timeoutSeconds: 1
        name: {{ .Chart.Name }}
        ports:
        - containerPort: {{ int .Values.ingress.port }}
        readinessProbe:
          failureThreshold: 10
          initialDelaySeconds: 120
          periodSeconds: 60
          successThreshold: 1
          tcpSocket:
            port: 3001
          timeoutSeconds: 1
        resources:
          limits:
            cpu: "{{ .Values.resources.limits.cpu }}"
            memory: "{{ .Values.resources.limits.memory }}"
          requests:
            cpu: "{{ .Values.resources.requests.cpu }}"
            memory: "{{ .Values.resources.requests.memory }}"
        stdin: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        tty: true
      {{- if .Values.elastic_search.enabled }} 
        volumeMounts:
        - name: forms-logs
          mountPath: /app/logs
      volumes:
      - name: forms-logs
      - name: forms-filebeat
        configMap:
          name: "{{ .Chart.Name }}-fb-config"
     {{- end}} 
      imagePullSecrets:
      - name: "{{ .Values.formsflow.auth }}"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
