---
Domain: #<DEFINE_ME>
resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 512Mi

formsflow:
  configmap: forms-flow-ai # name of formsflow.ai configmap
  secret: forms-flow-ai #name of formsflow.ai secret
ingress:
  ingressClassName: ""
  annotations: 
  enabled: true # create an ingress for this component 
  hostname: "{{.Chart.Name}}-{{.Release.Namespace}}.{{tpl .Values.Domain .}}"
  port: 5000
  tls: true
  selfSigned: false
  extraTls:
   - {} 
image:
  registry: docker.io
  repository: formsflow/forms-flow-data-analysis-api
  tag: v5.2.1 #The image tag to pull from
openApiKey: ""
chatbotModelId: "gpt-3.5-turbo"
